<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <script type="text/javascript">
        //alert(' 고양이 등록 페이지입니다. 반갑습니다.!')
    </script>
    <style type="text/css">
        body { /* 컨트롤 + / - 자동주석, 태그선택! */
            background: lightblue;
        }

        button {
            background: pink;
        }

        .t1 { /* .은 클래스 선택!, 여러개선택!  */
            background: yellow;
            width: 150px;
            text-align: center;
        }

        #b1 { /* #은 아이디 선택!, 특정한 것 한 개만 선택! */
            color: red;
        }

        #b2 {
            color: blue;
        }
    </style>
    <style th:replace="~{common/menubar::menubarStyle}"></style>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">

        $(document).ready(

           function () {

               function categoryGet(){
                $.ajax({
                    url: 'usersCategoryGet',
                    method: 'POST',
                    contentType : 'application/json',
                    success: function(list){
                        console.log(list);


                        var userCategory= [[${session.loginUser.userCategory}]];

                        console.log("why,,,"+userCategory);

                        $.each(list, function(index, cate){


                            if(cate.cCode==userCategory){
                                $('#userCategory').append('<option value='+ cate.cCode + ' selected>' + cate.cName + '</option>');
                                    console.log("cate.cCode"+cate.cCode)
                            }else{
                                $('#userCategory').append('<option value='+ cate.cCode + '>' + cate.cName + '</option>');
                            }



                        })
                    }
                })
            }
            categoryGet();

        })


    </script>



</head>
<body>

<div th:insert="~{common/menubar::menubar}"></div>

<div class="content">
    <br>
    <br>
    <div class="innerOuter">
        <h3>회원 수정 페이지</h3>
        <hr>
        <a href="list">
            <button id="b1">회원 리스트로</button>
        </a> <img
            th:src="@{/img/signup.jpg}"
            width="200" height="200">



        <form action="update" method="post">
            <table border="1">


                <!-- ajax 다 고려해서 넣기 -->
                <tr>
                    <td class="t1">회원 분류</td>
                    <td><select name="userCategory" id="userCategory">

                        <!--<option th:value="10" th:selected="${session.loginUser.userCategory == 10}">관리자</option>
                        <option th:value="20" th:selected="${session.loginUser.userCategory == 20}">일반회원</option>-->

                    </select>
                    </td>
                </tr>
                <tr>
                    <td class="t1">아이디</td>
                    <td><input name="id" th:value="${session.loginUser.id}"></td>
                </tr>
                <tr>
                    <td class="t1">패스워드 :</td>
                    <td><input name="pw" th:value="${session.loginUser2.pw}"></td>
                </tr>
                <tr>
                    <td class="t1">이름 :</td>
                    <td><input name="name" th:value="${session.loginUser.name}"></td>
                </tr>
                <tr>
                    <td class="t1">전화번호 :</td>
                    <td><input name="tel" th:value="${session.loginUser.tel}"></td>
                </tr>
                <tr>
                    <td colspan="2" class="t1">
                        <button id="b2">회원가입 데이터 전송</button>
                    </td>
                </tr>
            </table>

        </form>


    </div>
    <br>
    <br>
</div>


</body>
</html>